body {
	display: block;
	margin: 0px;
	min-width: 320px;
}

@font-face {
	font-family: "Roboto Regular"; 
	src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: "Roboto Medium"; 
	src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
	font-family: "Roboto Bold"; 
	src: url(../fonts/Roboto-Bold.ttf);
}

body {
	overflow-x: hidden;
	min-width: 320px;
	width: 100%;
	height: 100%;
	color: #000;
	font-size: 12px;
	font-family: 'Arial',sans-serif;
	padding: 0;
	margin: 0;
	background: #f6f6f6;
	-webkit-tap-highlight-color: transparent;
}

.page {
	position: relative;
	z-index: 1;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: liga, kern;
	background: #fff;
	color: #333333;
	min-width: 320px;
	height: 100vh;
}

.page {
	box-sizing: border-box;
}

.page__content {
	padding: 16px 0;
}

.container {
	display: block;
	width: 1400px;
	margin: 0 auto;
	padding: 0 20px;
	max-width: 100%;
	box-sizing: border-box;
}

.container__content {
	position: relative;
	z-index: 999;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0 0 100px;
}

.container__content {
	padding-bottom: 10px !important;
}

.menu {
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
}

.menu-list {
	font-size: 16px;
	list-style: none;
	font-family: "Roboto Regular";
	font-weight: 400;
	line-height: 140%;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 20px 0;
}

.menu-list_item {
	margin-right: 100px;
}

.menu-list_item:last-child {
	margin-right: 0;
}

.menu-link {
	text-decoration: none;
	color: #034899;
}

.menu-link:hover {
	text-decoration: underline;
}

.menu-link:active {
	color: #0071F6;
}

.private_club {
	width: 100%;
}

.private_club-top-section {
	background-color: #f3f6f8;
	padding: 70px 50px;
	background-image: url(../images/background_woman.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 120px;
}

.private_club_row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.private_club-row_content {
	max-width: 45%;
}

.private_club-row_content-title {
	font-family: "Roboto Regular";
	text-transform: uppercase;
	color: #000000;
	font-size: 36px;
	font-weight: 700;
	margin: 20px 0 60px;
	display: flex;
	flex-wrap: wrap;
	letter-spacing: 1px;
	line-height: 130%;
}

.card_name {
	color: #034899;
	font-size: 82px;
	font-weight: 700;
	text-transform: capitalize;
	padding: 20px 0;
	margin: 0;
	font-family: "Roboto Bold";
}

.card-advantages {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
}

.card-advantages_part {
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 28px;
}

.card-advantages_part:last-child {
	margin-bottom: 0;
}

.icon_advantages {
	margin-right: 25px;
}

.card-advantages_part_text {
	font-family: "Roboto Regular";
	text-transform: capitalize;
	color: #000000;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 120%;
	margin: 0;
}

.button_card {
	height: 62px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 20px;
	color: #ffffff;
	font-family: "Roboto Regular";
	background-color: #F44336;
	border-radius: 5px;
	border-color: #F44336;
	padding: 18px 26px;
	cursor: pointer;
	outline: none;
}

.button_card:hover {
	color: #F44336;
	background: transparent;
}

.button_card:active {
	color: #F44336;
	background: transparent;
	border-color: #F44336;
	border-radius: 5px;
	outline: none;
}

.private_club-loyalty {
	padding: 0 50px;
	margin-bottom: 120px;
	display: flex;
	flex-wrap: nowrap;
}

.private_club-card {
	margin-right: 10%;
	height: 330px;
	margin-top: auto;
	margin-bottom: auto;
}

.private_club-loyalty-content {
	width: 40%;
}

.loyalty-content_title {
	font-family: "Roboto Regular";
	color: #000000;
	font-size: 28px;
	font-weight: 700;
	display: flex;
	flex-wrap: wrap;
	letter-spacing: 1px;
	line-height: 130%;
	margin: 0 0 50px;
	width: 80%;
}

.text_ex {
    color: #F44336;
    margin: 0;
}

.loyalty-content_text {
	font-family: "Roboto Regular";
	color: #000000;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 140%;
	margin: 0;
	width: 80%;
}

.icon-top {
	z-index: 3;
	position: absolute;
	right: 5%;
	top: 1100px;
	width: 150px;
}

.private_club-growth {
	padding-right: 50px;
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 120px;
	position: relative;
	overflow: hidden;
}

.private_club-growth_img {
	position: relative;
	margin-right: 30px;
}

.private_club-growth_items {
	display: flex;
	flex-direction: column;
}

.private_club-growth_item {
	background-color: #F44336;
	padding: 30px 35px 40px 80px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right center;
	margin-bottom: 20px;
	border-radius: 10px 10px 0 50px;
	-webkit-border-radius: 10px 10px 0 50px;
	-moz-border-radius: 10px 10px 0 50px;
}

.private_club-growth_item:nth-child(2) {
	background-color: #0070C9;
	padding: 30px 35px 40px 80px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right center;
	margin-bottom: 0;
	border-radius: 10px 50px 0 10px;
	-webkit-border-radius: 10px 50px 0 10px;
	-moz-border-radius: 10px 50px 0 10px;
}

.private_club-growth_summ {
	font-family: "Roboto Regular";
	color: #ffffff;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 150%;
	margin: 0 0 30px;
}

.private_club-growth_text {
	font-family: "Roboto Regular";
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 140%;
	margin: 0;
}

.private_club-card-loyalty_section {
	padding: 0 50px;
	margin-bottom: 70px;
}

.card-loyalty_section_title {
	font-family: "Roboto Regular";
	color: #000000;
	font-size: 28px;
	font-weight: 700;
	display: flex;
	flex-wrap: wrap;
	letter-spacing: 1px;
	line-height: 130%;
	width: 40%;
	margin-bottom: 50px;
}

.card-loyalty_section_categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card-loyalty_section__category {
	display: flex;
	flex-wrap: wrap;
	width: 30%;
	margin-bottom: 50px;
	flex-direction: column;
	margin-right: 5%;
}

.card-loyalty_section__category:nth-child(3n+3) {
	margin-right: 0;
}

.card-loyalty_section__category:last-child {
	margin-right: 0;
}

.card-loyalty_section__category-icon {
	margin-bottom: 20px;
}

.card-loyalty_section__category-inform-name {
	font-family: "Roboto Regular";
	color: #000000;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 150%;
	margin: 0 0 20px;
}

.card-loyalty_section__category-inform-text {
	font-family: "Roboto Regular";
	color: #000000;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 140%;
	margin: 0;
}

.private_club-cashback {
	background-color: #F2F5F7;
	margin: 0 0 120px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;

	display: none; /*Повышенный кэшбэк для членов СтройКлуба*/
}

.private_club-cashback_block {
	padding: 100px 50px;
	display: flex;
	justify-content: space-between;
}

.private_club-cashback_block-left {
	width: 45%;
}

.private_club-cashback_title {
	font-family: "Roboto Regular";
	color: #000000;
	font-size: 28px;
	font-weight: 700;
	display: flex;
	flex-wrap: wrap;
	letter-spacing: 1px;
	line-height: 140%;
	margin-bottom: 50px;
}

.private_club-cashback_note {
	display: flex;
	flex-direction: column;
}

.private_club-cashback_note-title {
	font-family: "Roboto Regular";
	color: #E6330F;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 140%;
	margin: 0 0 30px;
}

.private_club-cashback_note-text {
	font-family: "Roboto Regular";
	color: #1B1717;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 140%;
	margin: 0;
	width: 85%;
}

.private_club-cashback_block-right {
	width: 45%;
}

.private_club-cashback_block-advantages {
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 50px;
}

.private_club-cashback_block-advantages:last-child {
	margin-bottom: 0;
}

.private_club-cashback_block-advantages_content {
	display: flex;
	flex-direction: column;
}

.private_club-cashback_block-advantages_content-title {
	font-family: "Roboto Regular";
	color: #000000;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 140%;
	margin: 0 0 20px;
}

.private_club-cashback_block-advantages_content-text {
	font-family: "Roboto Regular";
	color: #000000;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 140%;
	margin: 0;
	width: 80%;
	text-align: justify;
}

.private_club-bonus {
	padding: 0 50px;
	margin-bottom: 50px;
}

.private_club-bonus_title {
	font-family: "Roboto Regular";
	color: #000000;
	font-size: 28px;
	font-weight: 700;
	display: flex;
	flex-wrap: wrap;
	letter-spacing: 1px;
	line-height: 140%;
	margin-bottom: 50px;
}

.private_club-bonus_categories {
	display: flex;
	flex-direction: row;
}

.private_club-bonus_category {
	background-color: #f3f6f8;
	background-image: url(../images/card.jpg);
	background-repeat: no-repeat;
	width: 300px;
	height: 170px;
	display: flex;
	flex-wrap: nowrap;
	margin-right: 20px;
}

.private_club-bonus_category:last-child {
	margin-right: 0;
}

.bonus_category-content {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.private_club-bonus_category-name {
	font-family: "Roboto Regular";
	text-transform: uppercase;
	color: #034899;
	font-size: 20px;
	font-weight: 400;
	margin: 30px auto 15px 20px;
	letter-spacing: 1px;
	line-height: 130%;
}

.private_club-bonus_category-text {
	font-family: "Roboto Regular";
	color: #000000;
	font-size: 16px;
	font-weight: 400;
	margin: 0 auto 0 20px;
	letter-spacing: 1px;
	line-height: 130%;
}

.bonus_category-percent {
	display: flex;
	flex-direction: column;
	margin: auto 30px auto auto;
}

.bonus_category-percent-number {
	font-family: "Roboto Bold";
	color: #ffffff;
	font-size: 38px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 130%;
	margin: 0 auto;
}

.bonus_category-percent-number-text {
	font-family: "Roboto Regular";
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 130%;
	margin: 0;
}

.private_club-bonus_extra {
	background-color: #034899;
	border-radius: 50px 0 0 10px;
	padding: 65px 0 60px 65px;
	display: flex;
	flex-direction: row;
	margin-left: 50px;
	margin-bottom: 50px;
}

.bonus_extra-item {
	display: flex;
	flex-direction: column;
	width: 25%;
	margin-right: 7%;
}

.bonus_extra-item:last-child {
	margin-right: 0;
}

.bonus_extra-item-number {
	font-family: "Roboto Bold";
	color: #ffffff;
	font-size: 100px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 130%;
	margin: 0 auto 20px 0;
}

.bonus_extra-item-number-text {
	font-family: "Roboto Regular";
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 130%;
	margin: 0;
}

.bonus_extra-sum {
	font-family: "Roboto Bold";
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 130%;
	margin: 0;
}

.private_club-bonus_calculation {
	padding: 0 50px;
	margin-bottom: 120px;
}

.bonus_calculation-name {
	font-family: "Roboto Regular";
	color: #000000;
	font-size: 24px;
	font-weight: 400;
	display: flex;
	flex-wrap: wrap;
	letter-spacing: 1px;
	line-height: 140%;
	margin-bottom: 50px;
	width: 60%;
}

.calculation-name_ex {
	color: #E6330F;
}

.bonus_calculation-items {
	display: flex;
	flex-wrap: nowrap;
}

.bonus_calculation-item {
	display: flex;
	flex-direction: column-reverse;
	padding: 25px;
	border: 2px solid;
	border-color: #034899;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	outline: none;

	width: 350px;
	margin-right: 3%;
}

.bonus_calculation-item:last-child {
	margin-right: 0;
}

.bonus_calculation-item_text-hidden {
	display: none;
	margin-bottom: 10px;
	color: #615B5B;
	font-size: 14px;
}

.bonus_calculation-item_text {
	font-family: "Roboto Regular";
	color: #504B4B;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 140%;
	margin: 0;
	outline: none;
	border: none;
    width: 100%;
    padding: 0;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } 
input:focus::-moz-placeholder { color:transparent; } 
input:focus:-ms-input-placeholder { color:transparent; } 

.bonus_calculation-item_text:active {
	color: #000000;
}

.bonus_calculation-item_text:focus {
	color: #000000;
}

.bonus_calculation-item_text:focus + .bonus_calculation-item_text-hidden {
	display: block;
}

.bonus_calculation-item_text:active + .bonus_calculation-item_text-hidden {
	display: block;
}





.__select__input {
	display: none;
}

.cards-hidden_block {
	display: none;
}

.__select__input:focus + .__select__label + .cards-hidden_block {
	display: block;
}












.private_club-registration {
	padding: 0 115px;
	margin-bottom: 120px;
	display: flex;
	flex-direction: column;
}

.private_club-registration-title {
	font-family: "Roboto Regular";
	color: #000000;
	font-size: 28px;
	font-weight: 700;
	display: flex;
	flex-wrap: wrap;
	letter-spacing: 1px;
	line-height: 140%;
	margin-top: 0;
	margin-bottom: 50px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}

.registration-section {
	display: flex;
	justify-content: space-between;
}

.registration-section_option {
	display: flex;
	flex-direction: column;
	width: 44%;
}

.registration-section_option_img {
	margin-bottom: 30px;
}

.registration-section_option_name {
	font-family: "Roboto Regular";
	color: #E6330F;
	font-size: 24px;
	font-weight: 400;
	display: flex;
	flex-wrap: wrap;
	letter-spacing: 1px;
	line-height: 140%;
	margin: 0 0 20px;
}

.registration-section_option_text {
	display: flex;
	flex-direction: column;
	font-family: "Roboto Regular";
	color: #333333;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 140%;
}

.section_option_text-item {
	margin: 0 0 20px;
}

.text-item-number {
	margin-right: 10px;
}

.alterra_link {
	color: #F44336;
	text-decoration: none; 
}

.icon-down {
	z-index: 3;
	position: absolute;
	right: 5%;
	bottom: 700px;
	width: 150px;
}

.private_club-questions {
	padding: 0 50px;
	margin-bottom: 120px;
}

.private_club-questions-title {
	font-family: "Roboto Regular";
	color: #000000;
	font-size: 28px;
	font-weight: 700;
	display: flex;
	flex-wrap: wrap;
	letter-spacing: 1px;
	line-height: 140%;
	margin: 0 0 50px;
}

.private_club-questions_search {
	width: 993px;
	margin-bottom: 50px;
}

.search__field-box {
	display: flex;
	flex-wrap: nowrap;
}

.search__field {
	width: 100%;
	padding: 20px;
	font-family: "Roboto Regular";
	color: #504B4B;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 140%;

	border: 1px solid;
	border-color: #034899;
	border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
}

.search__field:focus {
	border: 2px solid;
	border-color: #034899;
	border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	outline: none;
}

.search__field:active {
	border: 2px solid;
	border-color: #034899;
	border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	outline: none;
}

.search__icon-button {
	padding: 20px;
	background-color: #034899;
	border: 1px solid;
	border-color: #034899;
	border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
}

.search__icon-button:hover {
	cursor: pointer;
}

.search__icon-button:active {
	border: 1px solid;
	border-color: #ffffff;
	border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	outline: none;
}

.search__icon {
	width: 30px;
	fill: white;
}

.private_club-questions-box {
	display: flex;
	flex-direction: column;
}

.private_club-questions-box_item {
	padding-bottom: 30px;
	padding-top: 30px;
	border-bottom: 1px solid;
    border-color: #BEB6B6;
    display: flex;
    flex-wrap: nowrap;
}

.private_club-questions-box_item:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

.button_down {
	width: 45px;
    height: 45px;
	margin-right: 50px;
}

.private_club-questions-box_item-text {
	font-family: "Roboto Regular";
	color: #000000;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 140%;
	margin: 8px 0 0;
}

@media (min-width: 1201px) and (max-width: 1400px) {

	.private_club-card {
		height: 280px;
		margin-right: 5%;
	}

	.private_club-loyalty-content {
		width: 50%;
	}

	.loyalty-content_title {
		font-size: 26px;
	}

	.loyalty-content_text {
		font-size: 22px;
	}

	.icon-top {
		top: 1050px;
		width: 130px;
	}

	.private_club-growth {
		justify-content: space-between;
	}

	.private_club-growth_item:nth-child(2) + .private_club-growth_text {
		width: 95%;
	}

	.private_club-growth_summ {
		font-size: 36px;
		margin: 0 0 25px;
	}

	.card-loyalty_section__category {
		margin-bottom: 40px;
		margin-right: 4%;
	}

	.card-loyalty_section__category-icon {
		width: 55px;
	}

	.card-loyalty_section__category-inform-name {
		font-size: 22px;
		margin: 0 0 15px;
	}

	.card-loyalty_section__category-inform-text {
		width: 95%;
	}

	.private_club-bonus_category-name {
		margin: 20px auto 10px 20px;
		font-size: 18px;
	}

	.private_club-bonus_category-text {
		line-height: 120%;
		width: 80%;
	}

	.bonus_category-percent {
		margin: auto 25px auto auto;
	}

	.private_club-bonus_extra {
		padding: 50px 0 55px 70px;
	}

	.bonus_extra-item {
		width: 30%;
    	margin-right: 1%;
	}

	.bonus_extra-item-number {
		font-size: 94px;
	}

	.bonus_extra-item-number-text {
		width: 90%;
	}
}

@media (min-width: 1301px) and (max-width: 1400px) {

	.private_club-growth_img{
		height: 400px;
		width: 60%;
	}

	.private_club-growth_item {
		padding: 30px 35px 45px 55px;
	}

	.private_club-growth_item:nth-child(2) {
		padding: 30px 35px 45px 50px;
	}

	.private_club-bonus_category {
		background-image: url(../images/card-desk.jpg);
		background-color: transparent;
		height: 150px;
		width: 255px;
		margin-right: 35px;
	}

	.registration-section_option_img {
		height: 330px;
	}
}  

@media (min-width: 1201px) and (max-width: 1300px) {

	.private_club-growth_img{
		height: 380px;
    	width: 60%;
	}

	.private_club-growth_item {
		padding: 20px 30px 45px 50px;
	}

	.private_club-growth_item:nth-child(2) {
		padding: 20px 30px 45px 50px;
	}

	.private_club-bonus_category {
		background-image: url(../images/card-desk.jpg);
		background-color: transparent;
		height: 150px;
		width: 255px;
		margin-right: 15px;
	}

	.registration-section_option_img {
		height: 300px;
	}
}

@media (min-width: 961px) and (max-width: 1200px) {

	.menu-list {
		font-size: 14px;
	}

	.menu-list_item {
		margin-right: 50px;
	}

	.private_club-top-section {
		margin-bottom: 80px;
		padding: 50px 30px;
	}

	.private_club-row_content {
		max-width: 55%;
	}

	.private_club-row_content-title {
		font-size: 34px;
		line-height: 120%;
	}

	.card_name {
		font-size: 74px;
	}

	.icon_advantages {
		width: 25px;
	}

	.card-advantages_part_text {
		font-size: 22px;
		margin: 3px 0 0;
	}

	.private_club-loyalty {
		padding: 0 30px;
		margin-bottom: 80px;
	}

	.private_club-card {
	    height: 300px;
    	width: 400px;
	    margin-right: 5%;
	}

	.private_club-loyalty-content {
		width: 50%;
		padding-top: 20px;
	}

	.loyalty-content_title {
		font-size: 26px;
		letter-spacing: 1px;
	    line-height: 120%;
	    margin: 0 0 40px;
	    width: 100%;
	}

	.loyalty-content_text {
		font-size: 22px;
		width: 85%;
	}

	.icon-top {
		top: 950px;
    	width: 120px;
	}

	.private_club-growth {
		padding-right: 30px;
		margin-bottom: 80px;
	}

	.private_club-card-loyalty_section {
		padding: 0 30px;
		margin-bottom: 40px;
	}

	.card-loyalty_section_title {
		width: 100%;
	}

	.card-loyalty_section__category {
		margin-bottom: 40px;
	}

	.card-loyalty_section__category-icon {
		width: 50px;
    	height: 50px;
	}

	.card-loyalty_section__category-inform-name {
		font-size: 22px;
		margin: 0 0 20px;
	}

	.card-loyalty_section__category-inform-text {
		font-size: 16px;
		line-height: 120%;
		width: 90%;
	}

	.private_club-bonus {
		padding: 0 30px;
    	margin-bottom: 10px;
	}

	.private_club-bonus_categories {
		display: flex;
	    flex-wrap: wrap;
	    flex-direction: inherit;
	    justify-content: space-between;
	    padding: 0 100px;
	}

	.private_club-bonus_category {
		margin-right: 0;
    	margin-bottom: 30px;
	}

	.private_club-bonus_extra {
		padding: 20px 0 40px 45px;
		margin-left: 30px;
    	margin-bottom: 40px;
	}

	.bonus_extra-item {
		margin-right: 4%;
	}

	.bonus_extra-item-number {
		font-size: 88px;
		margin: 0 auto 20px 0;
	}

	.bonus_extra-item-number-text {
		line-height: 120%;
	}

	.private_club-bonus_calculation {
		padding: 0 30px;
    	margin-bottom: 80px;
	}

	.bonus_calculation-name {
		width: 80%;
	}

	.private_club-registration {
		padding: 0 100px;
    	margin-bottom: 60px;
	}

	.registration-section_option {
		width: 46%;
	}

	.icon-down {
		width: 120px;
		bottom: 540px;
	}

	.private_club-questions {
		padding: 0 30px;
    	margin-bottom: 80px;
	}

	.private_club-questions_search {
		width: 100%;
	}

	.search__field {
		padding: 10px;
	}

	.search__icon-button {
		padding: 10px;
	}

	.private_club-questions-box_item {
		padding-bottom: 15px;
    	padding-top: 15px;
	}
}

@media (min-width: 1101px) and (max-width: 1200px) {

	.private_club-growth_img {
		width: 60%;
    	height: 360px;
    	margin-right: 30px;
	}

	.private_club-growth_item {
		padding: 15px 25px 30px 50px;
		margin-bottom: 20px;
	}

	.private_club-growth_item:nth-child(2) {
		padding: 15px 25px 30px 50px;
	}

	.private_club-growth_summ {
		margin: 0 0 15px;
	}

	.private_club-growth_text {
		width: 90%;
	}

	.registration-section_option_img {
		height: 290px;
	}
}

@media (min-width: 1001px) and (max-width: 1100px) {

	.private_club-growth_img {
		width: 60%;
    	height: 325px;
    	margin-right: 30px;
	}

	.private_club-growth_item {
		padding: 10px 25px 25px 40px;
		margin-bottom: 25px;
	}

	.private_club-growth_item:nth-child(2) {
		padding: 10px 25px 25px 40px;
	}

	.private_club-growth_summ {
		margin: 0 0 10px;
	}

	.private_club-growth_text {
		width: 90%;
		line-height: 120%;
	}

	.registration-section_option_img {
		height: 260px;
	}
}

@media (min-width: 961px) and (max-width: 1000px) {

	.private_club-growth_img {
		width: 60%;
    	height: 290px;
    	margin-right: 20px;
	}

	.private_club-growth_item {
		padding: 5px 20px 25px 40px;
		margin-bottom: 10px;
	}

	.private_club-growth_item:nth-child(2) {
		padding: 5px 35px 25px 40px;
	}

	.private_club-growth_summ {
		margin: 0 0 10px;
	}

	.private_club-growth_text {
		font-size: 16px;
		line-height: 120%;
	}

	.registration-section_option_img {
		height: 240px;
	}
}

@media (min-width: 641px) and (max-width: 960px) {

.bonus_calculation-items {
	display: none;
}

	.menu-list {
		font-size: 12px;
	}

	.menu-list_item {
		margin-right: 40px;
	}

	.private_club-top-section {
		margin-bottom: 50px;
    	padding: 0;
	}

	.private_club_row {
		padding: 30px 25px;
	}

	.private_club-row_content {
		max-width: 75%;
	}

	.private_club-row_content-title {
		font-size: 32px;
		line-height: 120%;
		width: 80%;
		margin: 20px 0 40px;
	}

	.card_name {
		font-size: 62px;
	}

	.card-advantages_part {
		margin-bottom: 20px;
	}

	.icon_advantages {
		width: 22px;
		height: 22px;
		margin-right: 20px;
	}

	.card-advantages_part_text {
		font-size: 20px;
		margin: 0;
	}

	.private_club-loyalty {
		padding: 0 25px;
	    margin-bottom: 70px;
	    flex-wrap: wrap;
	    flex-direction: column-reverse;
	}

	.private_club-card {
	    height: 200px;
	    width: 310px;
	    margin-right: auto;
	}

	.private_club-loyalty-content {
		width: 100%;
		padding-top: 0;
		flex-wrap: wrap;
    	flex-direction: column;
	}

	.loyalty-content_title {
		font-size: 24px;
		letter-spacing: 1px;
	    line-height: 120%;
	    margin: 0 0 20px;
	    width: 100%;
	}

	.loyalty-content_text {
		font-size: 18px;
	    width: 100%;
	    margin-bottom: 35px;
	}

	.icon-top {
		top: 850px;
    	width: 110px;
	}

	.private_club-growth {
		padding-right: 25px;
		margin-bottom: 70px;
		flex-wrap: nowrap;
    	flex-direction: column-reverse;
	}

	.private_club-growth_items {
		margin-bottom: 25px;
		padding-left: 15%;
	}

	.private_club-growth_item {
		padding: 20px 35px 30px 60px;
	}

	.private_club-growth_item:nth-child(2) {
		padding: 20px 35px 30px 60px;
	}

	.private_club-growth_summ {
		font-size: 38px;
		margin: 0 0 15px;
	}

	.private_club-card-loyalty_section {
		padding: 0 25px;
		margin-bottom: 40px;
	}

	.card-loyalty_section_title {
		width: 100%;
		font-size: 24px;
	}

	.card-loyalty_section_categories {
		justify-content: space-between;
	}

	.card-loyalty_section__category {
		margin-bottom: 30px;
		margin-right: 0;
		width: 45%;
	}

	.card-loyalty_section__category:last-child {
	    margin-right: auto;
	    margin-left: auto;
	    padding-left: 25%;
	}

	.card-loyalty_section__category-icon {
		width: 45px;
    	height: 45px;
	}

	.card-loyalty_section__category-inform-name {
		font-size: 18px;
		margin: 0 0 10px;
	}

	.card-loyalty_section__category-inform-text {
		font-size: 16px;
		line-height: 120%;
		width: 90%;
	}

	.private_club-bonus {
		padding: 0 25px;
    	margin-bottom: 10px;
	}

	.private_club-bonus_title {
		font-size: 24px;
	}

	.private_club-bonus_categories {
		display: flex;
	    flex-wrap: wrap;
	    flex-direction: column;
	    padding: 0;
	}

	.private_club-bonus_category {
		margin-left: auto;
    	margin-right: auto;
    	margin-bottom: 30px;
	}

	.private_club-bonus_category:last-child {
		margin-left: auto;
    	margin-right: auto;
	}

	.private_club-bonus_extra {
		padding: 20px 0 40px 45px;
		margin-left: 25px;
    	margin-bottom: 40px;
	}

	.bonus_extra-item {
		margin-right: 6%;
	}

	.bonus_extra-item-number {
		font-size: 74px;
		margin: 0 auto 10px 0;
	}

	.bonus_extra-item-number-text {
		line-height: 120%;
		font-size: 16px;
	}

	.private_club-bonus_calculation {
		padding: 0 30px;
    	margin-bottom: 80px;
	}

	.bonus_calculation-name {
		width: 80%;
		font-size: 22px;
		margin-bottom: 40px;
		line-height: 120%;
	}

	.private_club-registration {
		padding: 0 25px;
	    margin-bottom: 40px;
	}

	.private_club-registration-title {
		font-size: 24px;
	}

	.registration-section {
		display: flex;
	    flex-wrap: wrap;
	    flex-direction: column;
	}

	.registration-section_option {
		width: 440px;
		margin-right: auto;
    	margin-left: auto;
    	margin-bottom: 30px;
	}

	.registration-section_option_name {
		font-size: 20px;
	}

	.registration-section_option_text {
		font-size: 16px;
		width: 90%;
	}

	.section_option_text-item {
		margin: 0 0 10px;
	}

	.icon-down {
		width: 110px;
		bottom: 540px;
	}

	.private_club-questions-title {
		font-size: 24px;
	}

	.private_club-questions {
		padding: 0 30px;
    	margin-bottom: 80px;
	}

	.private_club-questions_search {
		width: 100%;
		margin-bottom: 40px;
	}

	.search__field {
		padding: 10px;
	}

	.button_down {
	    width: 40px;
	    height: 40px;
	    margin-right: 30px;
	}

	.private_club-questions-box_item-text {
		font-size: 20px;
	}

	.search__icon-button {
		padding: 10px;
	}

	.private_club-questions-box_item {
		padding-bottom: 15px;
    	padding-top: 15px;
	}
}

@media (min-width: 801px) and (max-width: 960px) {

	.private_club-top-section {
    	background-image: url(../images/woman_tablet.jpg);
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center;
	}
}

@media (min-width: 641px) and (max-width: 800px) {

	.private_club-top-section {
    	background-image: url(../images/back_tabletII.jpg);
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: right center;
	}
}

@media (min-width: 901px) and (max-width: 960px) {
	
	.private_club-growth_img {
		position: relative;
	    margin-right: 0;
	    height: 385px;
	    width: 85%;
	}
}

@media (min-width: 801px) and (max-width: 900px) {
	
	.private_club-growth_img {
		position: relative;
	    margin-right: 0;
	    height: 370px;
	    width: 85%;
	}
}

@media (min-width: 701px) and (max-width: 800px) {
	
	.private_club-growth_img {
		position: relative;
	    margin-right: 0;
	    height: 320px;
	    width: 85%;
	}
}

@media (min-width: 641px) and (max-width: 700px) {
	
	.private_club-growth_img {
		position: relative;
	    margin-right: 0;
	    height: 280px;
	    width: 85%;
	}
}

@media (max-width: 640px) {

	.menu-list {
		font-size: 12px;
		flex-direction: column;
	}

	.menu-list_item {
		margin-right: auto;
	    margin-left: auto;
	    margin-bottom: 15px;
	}

	.menu-list_item:last-child {
		margin-right: auto;
	    margin-left: auto;
	    margin-bottom: 0;
	}

	.private_club-top-section {
		margin-bottom: 20px;
    	padding: 0;
	}

	.private_club_row {
		padding: 20px;
		background: rgba(0, 0, 0, 0.3);
	}

	.private_club-row_content {
		max-width: 100%;
	}

	.private_club-row_content-title {
		font-size: 30px;
		line-height: 120%;
		width: 90%;
		margin: 20px 0 40px;
		color: #ffffff;
	}

	.card_name {
		font-size: 58px;
	}

	.card-advantages {
		width: 90%;
	}

	.card-advantages_part {
		margin-bottom: 15px;
	}

	.icon_advantages {
		width: 18px;
	    height: 18px;
	    margin-right: 15px;
	}

	.card-advantages_part_text {
		font-size: 18px;
	    margin: 0;
	    color: #ffffff;
	}

	.private_club-loyalty {
		padding: 0 20px;
	    margin-bottom: 50px;
	    flex-wrap: wrap;
	    flex-direction: column-reverse;
	}

	.private_club-card {
	    height: 200px;
	    width: 310px;
	    margin-right: auto;
	}

	.private_club-loyalty-content {
		width: 100%;
		padding-top: 0;
		flex-wrap: wrap;
    	flex-direction: column;
	}

	.loyalty-content_title {
		font-size: 22px;
		letter-spacing: 1px;
	    line-height: 120%;
	    margin: 0 0 20px;
	    width: 95%;
	}

	.loyalty-content_text {
		font-size: 18px;
	    width: 100%;
	    margin-bottom: 35px;
	}

	.icon-top {
		display: none;
	}

	.private_club-growth {
		padding-right: 0;
		margin-bottom: 60px;
		flex-wrap: nowrap;
    	flex-direction: column-reverse;
	}

	.private_club-growth_img {
		width: 350px;
		padding-right: 0;
		display: none;
	}

	.private_club-growth_items {
		margin-bottom: 25px;
		padding-left: 15%;
	}

	.private_club-growth_item {
		padding: 10px 25px 20px 30px;
		margin-bottom: 15px;
	}

	.private_club-growth_item:nth-child(2) {
		padding: 10px 25px 20px 30px;
	}

	.private_club-growth_summ {
		font-size: 32px;
    	margin: 0 0 10px;
	}

	.private_club-card-loyalty_section {
		padding: 0 20px;
		margin-bottom: 20px;
	}

	.private_club-growth_text {
		font-size: 16px;
	}

	.card-loyalty_section_title {
		width: 100%;
		font-size: 22px;
		margin-bottom: 30px;
	}

	.card-loyalty_section_categories {
		justify-content: space-between;
	}

	.card-loyalty_section__category {
		margin-bottom: 25px;
		margin-right: 0;
		width: 45%;
	}

	.card-loyalty_section__category:last-child {
	    margin-right: auto;
	    margin-left: 0;
	    padding-left: 0;
	}

	.card-loyalty_section__category-icon {
		width: 35px;
    	height: 35px;
	}

	.card-loyalty_section__category-inform-name {
		font-size: 18px;
		margin: 0 0 5px;
	}

	.card-loyalty_section__category-inform-text {
		font-size: 14px;
		line-height: 120%;
		width: 90%;
	}

	.private_club-bonus {
		padding: 0 20px;
    	margin-bottom: 10px;
	}

	.private_club-bonus_title {
		font-size: 22px;
		margin-bottom: 30px;
	}

	.private_club-bonus_categories {
		display: flex;
	    flex-wrap: wrap;
	    flex-direction: column;
	    padding: 0;
	}

	.private_club-bonus_category {
		margin-left: auto;
    	margin-right: auto;
    	margin-bottom: 20px;

    	background-image: url(../images/card_mobile.jpg);
    	background-repeat: no-repeat;
	}

	.private_club-bonus_category:last-child {
		margin-left: auto;
    	margin-right: auto;
	}

	.private_club-bonus_category-name {
		font-size: 20px;
		margin: 40px auto 30px 20px;
	}

	.private_club-bonus_extra {
		padding: 25px 10px 30px 45px;
	    margin-left: 20px;
	    flex-direction: column;
	    margin-bottom: 30px;
	}

	.bonus_extra-item {
		margin-right: 0;
    	margin-bottom: 35px;
    	width: 100%;
	}

	.bonus_extra-item:last-child {
		margin-bottom: 0;
	}

	.bonus_extra-item-number {
		font-size: 66px;
		margin: 0 auto 10px 0;
	}

	.bonus_extra-item-number-text {
		line-height: 120%;
		font-size: 14px;
		width: 90%;
	}

	.private_club-bonus_calculation {
		padding: 0 20px;
    	margin-bottom: 50px;
	}

	.bonus_calculation-name {
		width: 100%;
	    font-size: 20px;
	    margin-bottom: 30px;
		line-height: 120%;
	}

	.bonus_calculation-items {
		display: none;
	    flex-wrap: wrap;
	    flex-direction: column;
	}

	.bonus_calculation-item {
		margin-bottom: 15px;
		margin-right: auto;
    	margin-left: auto;

    	padding: 0; /*Кнопки переделать*/
	}

	.bonus_calculation-item:last-child {
		margin-bottom: 0;
		margin-right: auto;
    	margin-left: auto;
	}

	.private_club-registration {
		padding: 0 20px;
	    margin-bottom: 20px;
	}

	.private_club-registration-title {
		font-size: 22px;
		margin-bottom: 30px;
	}

	.registration-section {
		display: flex;
	    flex-wrap: wrap;
	    flex-direction: column;
	}

	.registration-section_option {
		width: 300px;
		margin-right: auto;
    	margin-left: auto;
    	margin-bottom: 30px;
	}

	.registration-section_option_img {
		height: 200px;
		margin-bottom: 25px;
	}

	.registration-section_option_name {
		font-size: 18px;
		margin: 0 0 10px;
	}

	.registration-section_option_text {
		font-size: 14px;
		width: 90%;
	}

	.section_option_text-item {
		margin: 0 0 10px;
	}

	.icon-down {
		display: none;
	}

	.private_club-questions-title {
		font-size: 22px;
		margin: 0 0 30px;
	}

	.private_club-questions {
		padding: 0 20px;
    	margin-bottom: 50px;
	}

	.private_club-questions_search {
		width: 100%;
		margin-bottom: 30px;
	}

	.search__field {
		padding: 10px;
		font-size: 14px;
	}

	.button_down {
	    width: 35px;
	    height: 35px;
	    margin-right: 25px;
	}

	.private_club-questions-box_item-text {
		font-size: 18px;
		margin: 5px 0 0;
	}

	.search__icon-button {
		padding: 10px;
	}

	.search__icon {
		width: 20px;
	}

	.private_club-questions-box_item {
		padding-bottom: 10px;
    	padding-top: 10px;
	}
}
